# This shell script should be placed in /etc/systemd/system/.
# It configures BitTorrent Sync as a background daemon on
# systems with systemd as a daemon system. Make sure to edit
# to your wishes before use.
#
# On systems using init.d intead (e.g. Raspbian before
# version Jessie), use `btsync` instead of this file.
#
# To enable btsync to start on boot as a daemon:
#		sudo systemctl enable btsync
# To start it:
#		sudo systemctl start btsync

[Unit]
Description=BTSync
After=network.target
 
[Service]
Type=forking
User=btsync
PIDFile=/home/btsync/btsync.pid
ExecStart=/home/btsync/btsync --config /home/btsync/btsync.conf
ExecStop=kill `cat /home/btsync/btsync.pid`
 
[Install]
WantedBy=multi-user.target
